.LinePages{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-inline: auto;
    margin-bottom: 10px;
}

.buttonPage{
    border: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.buttonPage:disabled{
    text-decoration: underline;
}